vigilia-app/node_modules/electron/dist/resources/default_app.asar
vigilia-application/google-services.json
vigilia-application/my-release-key.keystore
vigilia-application/upload_certificate.pem
cmd.md
